@{
    Layout = null;
}

<div class="row" id="customers-feedback">
    <div class="col-md-12" data-wow-delay="0.2s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active">
                    <img class="img-responsive " width="100%" src="~/Content/img/page-1_0003s_0001_Layer-8.png" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1">
                    <img class="img-responsive" width="100%" src="~/Content/img/page-1_0003s_0002_Layer-9.png" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2">
                    <img class="img-responsive" width="100%" src="~/Content/img/page-1_0003s_0000_Layer-10.png" alt="">
                </li>
            </ol>
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
                <!-- Quote 1 -->
                <div class="item active">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                <small>Someone famous</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <small>Someone famous</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <!-- Quote 3 -->
                <div class="item">
                    <blockquote>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                <small>Someone famous</small>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><h1><</h1></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><h1>></h1></a>
        </div>
    </div>
</div>
