@{
    Layout = null;
}
<div class="row" id="free-experiencing">
    <div class="col-md-8" id="text-content">
        <h2>Trải nghiệm hoàn toàn miễn phí</h2>
        <p>Vui lòng điền thông tin của bạn vào ô dưới đây để đăng ký dùng thử nhé</p>
    </div>
    <div class="col-md-4">
        <button>Đăng ký</button>
    </div>
</div>
