
    <div class="row" id="menu-header">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-4 col-sm-4 col-md-4" id="menu-header-logo">
                <a href="#"><img src="~/Content/img/page-1_0031_logo-trang.png"></a>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8" >
                <div class="menu-header-left" id="header-left">
                    <a href="#"><b>SẢN PHẨM & DỊCH VỤ </b></a>
                    <a class="gach">|</a>
                    <a href="#"><b> ĐĂNG KÝ </b></a>
                    <a class="gach">|</a>
                    <a href="#"><b> ĐÁNH GIÁ </b></a>
                    <a class="gach">|</a>
                    <a href="#"><b> HỎI ĐÁP </b></a>
                    <a href="#" class="btn btn-default" id="btnEnglish" style="border-radius:17px;"><b>ENGLISH</b></a>
                    <a href="javascript:void(0);" id="menu-icon" onclick="myFunction()"><i class="fas fa-bars" id="icon"></i></a>
                </div>
            </div>
        </div>
    </div>



